:root {
    /* Primary Colors */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    /* Neutral COlors */
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --blackish-blue: hsl(234, 17%, 12%);
    /* font: Red Hat Text */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Red Hat Text", sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background: url("./images/bg-stars.svg");
    background-color: var(--blackish-blue);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--white);
    padding-top: 120px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
}

/* FLIP SECTION START */
.countdown {
    display: flex;
    gap: 24px;
    padding-top: 60px;
}

.flip-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    border-radius: .1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
    height: .75em;
    line-height: 1;
    padding: .25em .75em;
    overflow: hidden;
    font-size: 3em;
    font-weight: 500;
    color: var(--soft-red);
    width: 33px;
    text-align: center;
}

.top,
.flip-card .top-flip {
    background-color: #f7f7f7;
    border-top-right-radius: .1em;
    border-top-left-radius: .1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 33px;
    justify-content: center;
    background-color: var(--dark-desaturated-blue);
    color: hsl(345, 58%, 56%);
}

.bottom,
.flip-card .bottom-flip {
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom-right-radius: .1em;
    border-bottom-left-radius: .1em;
    width: 33px;
    text-align: center;
    background-color: hsl(235, 24%, 43%);
}

.flip-card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}

.flip-card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
}

@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

.container {
    display: flex;
    gap: .5em;
    justify-content: center;
}

.container-segment {
    display: flex;
    flex-direction: column;
    gap: .1em;
    align-items: center;
}

.segment {
    display: flex;
    gap: .25em;
}

.segment-title {
    font-size: 1.75rem;
    padding-top: 12px;
    font-weight: 300;
    color: var(--grayish-blue);
}

/* FLIP SECTION END */


.socials {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    bottom: 0;
    left: 0;
    position: absolute;
    background: url("./images/pattern-hills.svg");
}

.socials a:hover svg path {
    fill: var(--soft-red);
}